.mymenuitem {
    color: white;
}

.login, .login:link, .login:visited {
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-family: ProximaNova;
    font-size: .875rem;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
}

.login:hover{
    box-sizing: border-box;
    color: #0dbe98;
    display: block;
    font-family: ProximaNova;
    font-size: .875rem;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
}

.join, .join:link, .join:visited {
    box-sizing: border-box;
    color: #0dbe98;
    display: block;
    font-family: ProximaNova;
    font-size: .875rem;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 30px;
}

.join:hover{
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-family: ProximaNova;
    font-size: .875rem;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
}

.navbar2style, .navbar2style:link, .navbar2style:visited {
    font-family: ProximaNova;
    font-size:.75rem;
    font-weight: 700;
    color: #0dbe98;
    text-decoration-color: white;
}

.navbar2style:hover {
    font-family: ProximaNova;
    font-size:.75rem;
    font-weight: 700;
    color:#0dbe98;
    text-decoration-color: #0dbe98;
}

.mysubmenuitem {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 782px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.subitem, .subitem:link, .subitem:visited{
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .43px;
    text-decoration: none;
    text-transform: uppercase;
}

.subitem:hover{
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .43px;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration-line: underline;
}

.huffpost{
    text-decoration-line: none;
}

.titolo-link a:link, .titolo-link a:visited {
    color:black;
    font-family:ProximaNovaCond,ProximaNovaCondFallback,sans-serif;
    font-weight:800;
    font-size:calc(10px + 6.25vw);
    text-decoration-color:black;
    line-height:1em;
}

.titolo-link a:hover{
    text-decoration-color:#0dbe98;
}

.immagine-principale{
    width:100%;
    max-width: 600px;

}

.titolo-sezione{
    font-weight:bolder;
}


.mycardtitle, .mycardtitle a:link, .mycardtitle a:visited {
    color: #333;
    margin-top: 0;
    font-family: ProximaNovaCond,ProximaNovaCondFallback,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: .025rem;
    margin-bottom: 7px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

.mycardparagraph, .mycardparagraph a:link, .mycardparagraph a:visited {
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    font-family: ProximaNovaCond,ProximaNovaCondFallback,sans-serif;
    font-weight: 700;
    line-height: 1.1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.mycardparagraph:hover{
    text-decoration: underline;

}

.horizontal-card, .horizontal-card a:link, .horizontal-card a:visited{
    color: black;
    text-decoration: none;
    font-family: ProximaNovaCond,ProximaNovaCondFallback,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.1;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.horizontal-card:hover{
    text-decoration: underline;
    color: black;
    font-family: ProximaNovaCond,ProximaNovaCondFallback,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.1;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.titolo-LIFE{
    font-size: 2.25rem;
    color: #171d67;
    font-family: Montserrat,sans-serif;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px #f711c0;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.LIFE-card{
    background-color: #e7fcff;
    padding: 0 16px 32px;
    border: none;
}

.LIFE-container{
    padding: 0 32px 32px 0;
}

.LIFE-title{
    color: #0d0eca;
    font-family: Montserrat,sans-serif;
    font-size: .8125rem;
    font-weight: 700;
    letter-spacing: 1.3px;
    margin: 16px 0;
    text-transform: uppercase;
    text-decoration: none;
}

.LIFE-card-title, .LIFE-card-title:link, .LIFE-card-title:visited{
    font-family: Montserrat,sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
    text-decoration: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.LIFE-card-title:hover{
    font-family: Montserrat,sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
    text-decoration: underline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.LIFE-card-paragraph{
    font-family: Montserrat,sans-serif;
    font-size: .875rem;
    line-height: 1.125rem;
    margin-top: 16px;
    color: #000;    box-sizing: border-box;
    margin-bottom: 0;
    padding: 0;
    display: block;
}

.LIFE-img{

}

.mycard {
    border: none;
}

.tip-title {
    color: #3a3a3a;
    display: flex;
    font-family: ProximaNovaCond, ProximaNovaCondFallback, sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 800;
    justify-content: center;
    letter-spacing: .5px;
    margin-bottom: 10px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
}

.tip-par{
    font-size: 18px;
    line-height: 20px;
    white-space: pre-wrap;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.tip-link{
    font-size: 18px;
    line-height: 20px;
    white-space: pre-wrap;
    text-decoration: underline;
    color: unset;

}

.myvideo {
    width: 100%;
    aspect-ratio: auto 560 / 315;
}

.myscroll {
    overflow-y: auto;
    max-height: 340px;
    overflow-x: hidden;
    line-height: 1;
    scrollbar-width: thin;
    scrollbar-color: gray black;
}

.myscroll a, .myscroll a:hover, .myscroll a:link {
    color:white;
    font-size: 8pt;

}

.myscrollimg {
    height:70px;
}

.myscrolltxt {
    height:70px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .myscroll {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        height: 150px;
    }

    .myscrollimg {
        height:auto;
        width:100px;
    }

    .myscrolltxt {
        height:auto;
        width:100px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .myscroll {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        height: 150px;
    }
    .myscrollimg {
        height:auto;
        width:100px;
    }

    .myscrolltxt {
        height:auto;
        width:100px;
    }

}

.small-par{
    color: #767676;
    text-align: center;
    font-family: ProximaNova;
    font-size: .75rem;
    letter-spacing: 0;
    line-height: .8125rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bottom-card-title, .bottom-card-title a:link, .bottom-card-title a:visited {
    color: black;
    text-decoration: none;
    font-size: 1.75rem;
    font-family: ProximaNovaCond,ProximaNovaCondFallback,sans-serif;
    font-weight: 700;
    line-height: 1.07;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.bottom-card-title:hover {
    text-decoration: underline;
    color: black;
    font-size: 1.75rem;
    font-family: ProximaNovaCond,ProximaNovaCondFallback,sans-serif;
    font-weight: 700;
    line-height: 1.07;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bottom-card-description{
    margin-top: 8px;
    color: #000;
    font-family: ProximaNova;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 0;
    display: block;
}

.author{
    color: #444;
    font-family: ProximaNova;
    font-size: .875rem;
    line-height: 1rem;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    text-transform: uppercase;
}

.bold-line{
    border-top: 2px solid #000;
    padding-top: 24px;
    margin-bottom: 60px;
    position: relative;
}

.huff-personal{
    font-size: 24px;
    letter-spacing: .5px;
    margin: 0 auto;
    text-transform: uppercase;
    color: #1a1a1a;
    font-family: Alfa Slab One;
    font-weight: 400;
    line-height: 2.625rem;
    box-sizing: border-box;
    padding: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.more{
    color: #0d0eca;
    font-family: ProximaNova;
    font-size: .75rem;
    font-weight: 500;
    text-decoration: none;
    text-align: right;
}

.more-card{
    border: none;
    background-clip: padding-box;
    box-sizing: border-box;
    margin: 0;
}

.more-par, .more-par:link, .more-par:visited{
    color: #000;
    text-decoration: none;
    font-family: ProximaNovaCond,ProximaNovaCondFallback,sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.more-par:hover{
    color: #000;
    text-decoration: underline;
    font-family: ProximaNovaCond,ProximaNovaCondFallback,sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer-line{
    color: white;
}

.myfooter{
    background-color: black;
    padding: 0 15px;
    margin: auto;
}

ul {
    list-style-type: none;
}

.footer{
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 176px;
    margin: auto;
    max-width: 1280px;
    padding: 0 15px;
    box-sizing: border-box;
}

.footer-link-sx, .footer-link-sx:link, .footer-link-sx:visited{
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: .02687rem;
    cursor: pointer;
    margin-bottom: 0.9375rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .75rem;
}

.footer-link-sx:hover{
    color: #0dbe98;
}

.footer-link-dx, .footer-link-dx:link, .footer-link-dx:visited{
    color: #e5e5e5;
    font-family: ProximaNova;
    letter-spacing: .02375rem;
    min-width: 8.75rem;
    font-size: .625rem;
    text-decoration: none;
}

.footer-link-dx:hover{
    color: #0dbe98;
}

.bot{
    align-items: normal;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    font-family: ProximaNova;
    font-size: .8125rem;
    opacity: .8;
    padding: 10px 15px;
    text-align: center;
    width: 100%;
    display: flex;
}

.left-bot{

}

.right-bot{
    color: #fff;
    font-weight: 600;
    font-family: ProximaNova;
    font-size: .8125rem;
    text-align: center;
}